# Visual Studio
.vs/
*.user
*.suo
*.rsuser

# Build
bin/
obj/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Logs
*.log

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Arquivos temporários
*.tmp
*.temp

# Arquivos de configuração de desenvolvimento
appsettings.Development.json

# Secrets
secrets.json